* {
    font-family: sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

header {
    width: 99vw;
    height: 8vh;
    background-color: rgb(226, 13, 13);
    align-content: center;
}

header img {
    width: 200px;
    height: 150px;
    margin-left: 45vw;
}

ul {
    list-style: none;
}

/* CSS PARA EL NAV Y MENU  */
nav {
    background-color:rgb(226, 13, 13) ;
    width: 99vw;
    height: 7vh;
    position: relative;
    z-index: 1001;
}

.login {
  float: right;
 padding-right: 15px;
 
}

.nav li a {
    justify-items: end;
    list-style-type: none;
    background-color: rgb(226, 13, 13);
    color:azure;
    text-decoration: none;
    padding: 15px 15px;
    display:block;
}

.nav li a:hover {
    background-color: rgb(181, 31, 8);
    cursor: crosshair;
}

.nav > li {
    float:left;
    
}

.nav li ul {
    display: none;
    position:absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    left: 140px;
    top:10px
}

/* INICIO CSS PARA INDEX */
/* CSS PARA EL CONTENIDO DE LA WEB */

.sectionmain {
    background-image: url(img/8724306.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr 1fr;
    width: 99vw;
    height: 90vh;
}

.contenido {
    width: 100%;
    height: 100%;
    color: #ff0000;
    grid-row: 1 / 3;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    text-shadow: 4px 4px 6px gold;;
}
/* CSS ANIMADO PARA LETRAS DE ESTA WEB:  https://animista.net/play/text/tracking-in/tracking-in-expand*/

.tracking-in-contract-bck-bottom {
  position: relative;
  z-index: 1000;
	-webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          position: relative; /* O absolute, fixed, o sticky según sea necesario */
          z-index: 1000; /* Asegura que sea un número alto para superponer sobre otros elementos */
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
/* FIN CSS ANIMADO PARA LETRAS */

aside {
    align-items: center;
    align-content: center;
    margin: 10px 10px;
    margin-left: 10px;
    /* border-left: 3px solid white; */
    grid-row: 1 / 3;
    gap: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

aside div:first-child {
    width: 100%;
    height: 80%;
    background-color: #ffffffab;
    border-color: 3px solid white;
    border-radius: 20px;
}

aside div:nth-child(2) {
    width: 100%;
    height: 80%;
    background-color: #ffffffab;
    border-color: 3px solid white;
    border-radius: 20px;
}

aside div:nth-child(3) {
    width: 100%;
    height: 80%;
    background-color: #ffffffab;
    border-radius: 20px;
}

aside img {
    width: 80%;
    height: 90%;
    border-radius: 200%;
    margin-left: 10px;
}

video:first-child {
    padding: 0;
    margin-left: 10px;
    display: grid;
    align-items: center;
    align-content: center;
    width: 100px;
    height: 160px;
    /* margin-top: 8%; */
    border-radius: 20px;
}

.titulito:nth-child(2) {
    background-color: #414d6800;
    width: 100%;
    height: 100%;
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
}

.divaside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

footer {
    overflow: hidden;
    align-items: center;
    align-content: center;
    height: 7vh;
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    background-color: red;
    text-align: center;
    font-size: 30px;
}
/* CSS CARRUSEL  */

.carrusel {
  border-right: 5px solid red;
  display: grid;
  grid-template-rows: 450px 50px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.item h1 {
    z-index: 1;
    margin-top: 30px;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 78vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
  
div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
  
div.item:nth-of-type(1) {
    border-radius: 10px;
    --offset: 1;
    display: grid;
    align-items: end;
    background-image: url(img/sonic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

div.item:nth-of-type(2) {
    border-radius: 10px;
    --offset: 2;
    background-image: url(img/Estadisticas.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

div.item:nth-of-type(3) {
    border-radius: 10px;
    --offset: 3;
    background-size: cover;
    background-image: url(img/competicion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

div.item:nth-of-type(4) {
    --offset: 4;
    border-radius: 10px;
    background-image: url(img/online.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

div.item:nth-of-type(5) {
    border-radius: 10px;
    --offset: 5;
    color: white;
    text-align: center;
    display: grid;
    font-size: 27px;
    text-shadow: 4px 4px 6px black;;
    align-items: center;
    background-color: #ff0000;
}
  
input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}
  
input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}
  
input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}
  
input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}
  
input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}
  
#oferta {
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #EBD758;
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
}

#logreg {
border: 3px solid white;
border-color: white;
  background-color: red;
  border-radius: 11px;
  color: white;
}
/* FIN CSS PARA INDEX */

/* CSS para Area Actuacion */
.mesjuegos {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 80px;
  padding-left: 1400px;
  font-size: 34px;
  color: rgb(255, 251, 251);
  text-shadow: 4px 4px 6px black;
}

#mes {
  background-color: red;
  color: black;
  border-radius: 40px;
}

.tituloj {
    border-top: 5px solid black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px black;
}

.juegos {
    background-image: url(img/fondojuegos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(208, 10, 10);
}

.container:after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
}

.container {
    width: 90%;
    margin:0 10%;
}

.container div {
    width:20%;
    height: auto;
    display: inline;
    float:left;
    margin: 0% 1% 0% 0%;
    padding:0;
}

.container div img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #666;
    border:5px solid #ff0000;
    border-radius: 5px;
}

.container div img~span {
    width: 100%;
    display: block;
    opacity: 0;
    margin:0;
    padding:2px 5px;
    color:#fff;
    background: rgba(0,0,0,0.7);
    box-shadow: 5px 5px 10px #666;
    text-align: center;
}

.container div img:hover+span {
    opacity: 1;
}

.container:hover div {
    opacity: 0.7;
    transform: scale(0.7);
    transition: 1s;
}

.container:hover div:hover {
    opacity: 20;
    transform: scale(1);
}

/* CSS FIN DE AREA ACTUACIÓN */

/* INICIO CSS SOBRE NOSOTROS */

.sectionsobre {
  background-image: url(img/8724306.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  width: 99vw;
  height: 90vh;
}

.contenidonosotros {
  color: #ff0000;
  width: 100%;
  height: 100%;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: center;
  font-size: 30px;
  align-content: center;
  text-shadow: 2px 4px 6px gold;
}

.contenidonosotros2 {
  margin-left: 2vw;
  grid-row: 2 / 6;
  grid-column: 1 / 1;
}

.contenidonosotros2 img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  border: 5px solid black;
}

.contenidonosotros3 {
  margin-left: 2vw;
  grid-row: 2 / 6;
  grid-column: 1 / 1;
  color: rgb(81, 69, 252);
  text-align: center;
  align-content: center;
  font-size: 35px;
  font-weight: bolder;
  text-shadow: 4px 4px 6px gold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenidonosotros4 {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 30px;
  grid-row: 2 / 6;
  grid-column: 2 / 3;
  align-content: center;
  margin-left: 2vw;
  justify-content: center;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.526);
  border: 5px solid white;
}

.contenidonosotros5 {
  margin-top: 3vh;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 30px;
  grid-row: 6 / 11;
  grid-column: 1 / 4;
  align-content: center;
   margin-left: 2vw; 
  margin-right: 3vw; 
  justify-content: center;
  text-align: justify;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}

.nosotros1 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.353);
  text-align: center;
  border: 5px solid red;
}

.imgsobre {
  padding: 3px;
  margin-left: 5px;
  margin-top: 10px;
  width: 40%;
  height: 90%;
  border-radius: 30px;
}

.nosotros2 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.353);
  text-align: center;
  border: 5px solid red;
}

.nosotros3 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.353);
  text-align: center;
  border: 5px solid red;
}

footer {
  align-items: center;
  align-content: center;
  height: 100%;
  grid-column: 1 / 5;
  grid-row: 12 / 12;
  background-color: red;
  text-align: center;
  font-size: 30px;
}

/* Animacion de letras obtenida de esta web https://animista.net/play/text/tracking-in/tracking-in-expand  */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* FIN ANIMACION LETRAS */


/* FIN CSS SOBRE NOSOTROS */


/* CSS Contacto */

.form-container {  
  width: 100%;
  background-color: #414D68;
  color: white;
  grid-column: 2 / 3;
  grid-row: 2/3;
  align-content: center;
  border-radius: 15px;
  padding: 20px;
  border: 5px solid red;  
}

.form-container .title {
  color: white;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

.form-content {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.form-content  .left-side {
  padding-right: 2vw;
  grid-column: 1/2;
  width: 100%;
}

.form-content form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 2vw;
  grid-column: 2/3;  
}

form .input-box input {
  width: 100%;
}

.topic {
  font-weight: bold;
}

.left-side {
  border-right: solid 2px white;
}

ion-icon {
  padding: 3px;
  color: red;
  font-size: 30px;
  margin-bottom: 5px;
  border-bottom: 3px solid black;
}

.sectioncontacto {
  background-image: url(img/8724306.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 99vw;
  height: 90vh;
}

.footercontacto {
  overflow: hidden;
  align-items: center;
  align-content: center;
  height: 7vh;
  grid-column: 1 / 4;
  grid-row: 4 / 4;
  background-color: red;
  text-align: center;
  font-size: 30px; 
}

/* FIN CSS CONTACTO */
/* Responsive */

  /* movil vertical */
@media screen and (max-width:415px) {
  header{
    width: 100%;
  }
  header img {
    margin: auto;
  }
  .login, .tododivaside, .left-side, .contenidonosotros3, .contenidonosotros2, .contenidonosotros5  {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .sectionmain {
    width: 100%;
  }
  .carrusel {
    border: none; 
  }
  .contenidonosotros4 {
    font-size: small;
    width: 150%;
    height: 150%;
    margin-top: 30px ;
  }
  .juegos {
    width: 100%;     
  }
  .mesjuegos {
    padding: 0;
    display: none;
  }
  .container {
    width: 70%;
    height: 60%;
   margin: auto;
  }
  .tituloj {
    padding-bottom: 0px;
  }
  #hide3, #hide2, #hide1 {
    display: none;
    margin: 0px;
  }
  .container>div {
    margin: 8px;
  }
}

/* Tablet vertical */
@media screen and (max-width:750px) {
  header{
    width: 100%;
  }
  .tododivaside {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .sectionmain {
    width: 100%;
  }
  .carrusel {
    border: none;
  }
  .contenidonosotros2, .contenidonosotros3 {
    width: 130%;
  }
  .contenidonosotros4 {
    font-size: small;
    width: 130%;
    margin-left: 60%;
  }
  .nosotros1, .nosotros3{
    font-size: small;
    width: 150%;
  }
  .nosotros3 {
    margin-left: 60%;
  }
  .nosotros2 {
    display: none;  
  }
  .mesjuegos {
    padding: 0px;
  }
}

/* Movil Horizontal */
@media screen and (max-width:880px) {
  header {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .sectionmain {
    width: 100%;
  }
  .carrusel {
    border: none;
  }
  .contenidonosotros2, .contenidonosotros3 {
    width: 130%;
  }
  .contenidonosotros4 {
    font-size: small;
    width: 130%;
    margin-left: 60%;
  }
  .nosotros1, .nosotros3 {
    font-size: small;
    width: 150%;
  }
  .nosotros3 {
    margin-left: 60%;
  }
  .nosotros2 {
    display: none;  
  }
  .mesjuegos{
    padding: 0px;
  }
  .mesjuegos{
    padding: 0px;
  }
}

/* tablet horizontal */
@media screen and (min-width:1150px)and(max-width:1299px) {
  header {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .sectionmain {
    width: 100%;
  }
  .nosotros1, .nosotros3 {
    font-size: small;
    width: 150%;
  }
  .nosotros3 {
    margin-left: 60%;
  }
  .nosotros2 {
    display: none;  
  }
  .mesjuegos{
    padding: 0px;
  }
}
@media screen and (min-width:1300px) {
}
